[Unit]
Description=ZetFR backend
After=network.target

[Service]
Type=simple
EnvironmentFile=/home/fedora/ZetFR/backend/.env
User=fedora
ExecStart=/usr/bin/npm --prefix /home/fedora/ZetFR/backend start

[Install]
WantedBy=multi-user.target